* {
    -card-color: #EEE;
}

.card-container{
    -fx-padding: 5px;
}

.card{
    -fx-pref-width: 230px;
    -fx-min-height: 250px;
    -fx-background-color: -card-color;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.mini{
    -fx-pref-width: 260px;
    -fx-min-height: 100px;
}

.card.brand-card{
    -fx-background-color: -brand-color-opacity;
}

.card-cover{
    fx-background-radius: 6px;
}